.App {
  text-align: center;
}

nav {
  height: 60px;
  width: 100vw;
  background: #15181f;
  color: #fed136;
}

.content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  padding: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
